.button-pink {
  .at-credit-card-button-wrapper,
  .at-eft-button-wrapper {
    .at-btn-radio {
      background: #ee2b77 !important;
    }
  }
  .prevNext {
    .submitStep,
    .nextStep {
      background: #ee2b77 !important;
    }
  }
  .take-action {
    background: #ee2b77 !important;
  }
  input[type="submit"] {
    background: #ee2b77 !important;
  }
}

.button-teal {
  .at-credit-card-button-wrapper,
  .at-eft-button-wrapper {
    .at-btn-radio {
      background: #0080c0 !important;
    }
  }
  .prevNext {
    .submitStep,
    .nextStep {
      background: #0080c0 !important;
    }
  }
  .take-action {
    background: #0080c0 !important;
  }
  input[type="submit"] {
    background: #0080c0 !important;
  }
}

.button-black {
  .at-credit-card-button-wrapper,
  .at-eft-button-wrapper {
    .at-btn-radio {
      background: #002634 !important;
    }
  }
  .prevNext {
    .submitStep,
    .nextStep {
      background: #002634 !important;
    }
  }
  .take-action {
    background: #002634 !important;
  }
  input[type="submit"] {
    background: #002634 !important;
  }
}

.button-blue {
  .at-credit-card-button-wrapper,
  .at-eft-button-wrapper {
    .at-btn-radio {
      background: #0072bc !important;
    }
  }
  .prevNext {
    .submitStep,
    .nextStep {
      background: #0072bc !important;
    }
  }
  .take-action {
    background: #0072bc !important;
  }
  input[type="submit"] {
    background: #0072bc !important;
  }
}

.button-purple {
  .at-credit-card-button-wrapper,
  .at-eft-button-wrapper {
    .at-btn-radio {
      background: #643695 !important;
    }
  }
  .prevNext {
    .submitStep,
    .nextStep {
      background: #643695 !important;
    }
  }
  .take-action {
    background: #643695 !important;
  }
  input[type="submit"] {
    background: #643695 !important;
  }
}

.button-ltgray {
  .at-credit-card-button-wrapper,
  .at-eft-button-wrapper {
    .at-btn-radio {
      background: #8d939e !important;
    }
  }
  .prevNext {
    .submitStep,
    .nextStep {
      background: #8d939e !important;
    }
  }
  .take-action {
    background: #8d939e !important;
  }
  input[type="submit"] {
    background: #8d939e !important;
  }
}

.button-dkgray {
  .at-credit-card-button-wrapper,
  .at-eft-button-wrapper {
    .at-btn-radio {
      background: #555f6b !important;
    }
  }
  .prevNext {
    .submitStep,
    .nextStep {
      background: #555f6b !important;
    }
  }
  .take-action {
    background: #555f6b !important;
  }
  input[type="submit"] {
    background: #555f6b !important;
  }
}

.button-brown {
  .at-credit-card-button-wrapper,
  .at-eft-button-wrapper {
    .at-btn-radio {
      background: #6a3a10 !important;
    }
  }
  .prevNext {
    .submitStep,
    .nextStep {
      background: #6a3a10 !important;
    }
  }
  .take-action {
    background: #6a3a10 !important;
  }

  input[type="submit"] {
    background: #6a3a10 !important;
  }
}
