.button-pink {
  .at-credit-card-button-wrapper,.at-eft-button-wrapper {
    .at-btn-radio {
      background: #EE2B77 !important;
    }
  }
  .prevNext {
    .submitStep, .nextStep {
      background: #EE2B77 !important;
    }
  }
  .take-action {
    background: #EE2B77 !important;
  }
  input[type="submit"] {
    background: #EE2B77 !important;  
  }  
}

.button-teal {
  .at-credit-card-button-wrapper,.at-eft-button-wrapper {
    .at-btn-radio {
      background: #00A3AB !important;
    }
  }
  .prevNext {
    .submitStep, .nextStep {
      background: #00A3AB !important;
    }
  }
  .take-action {
    background: #00A3AB !important;
  }
  input[type="submit"] {
    background: #00A3AB !important;  
  }
}

.button-black {
  .at-credit-card-button-wrapper,.at-eft-button-wrapper {
    .at-btn-radio {
      background: #002634 !important;
    }
  }
  .prevNext {
    .submitStep, .nextStep {
      background: #002634 !important;
    }
  }
  .take-action {
    background: #002634 !important;
  }
  input[type="submit"] {
    background: #002634 !important;  
  }
}

.button-blue {
  .at-credit-card-button-wrapper,.at-eft-button-wrapper {
    .at-btn-radio {
      background: #0072BC !important;
    }
  }
  .prevNext {
    .submitStep, .nextStep {
      background: #0072BC !important;
    }
  }
  .take-action {
    background: #0072BC !important;
  }
  input[type="submit"] {
    background: #0072BC !important;  
  }
}

.button-purple {
  .at-credit-card-button-wrapper,.at-eft-button-wrapper {
    .at-btn-radio {
      background: #643695 !important;
    }
  }
  .prevNext {
    .submitStep, .nextStep {
      background: #643695 !important;
    }
  }
  .take-action {
    background: #643695 !important;
  }
  input[type="submit"] {
    background: #643695 !important;  
  }
}

.button-ltgray {
  .at-credit-card-button-wrapper,.at-eft-button-wrapper {
    .at-btn-radio {
      background: #8D939E !important;
    }
  }
  .prevNext {
    .submitStep, .nextStep {
      background: #8D939E !important;
    }
  }
  .take-action {
    background: #8D939E !important;
  }
  input[type="submit"] {
    background: #8D939E !important;  
  }
}

.button-dkgray {
  .at-credit-card-button-wrapper,.at-eft-button-wrapper {
    .at-btn-radio {
      background: #555F6B !important;
    }
  }
  .prevNext {
    .submitStep, .nextStep {
      background: #555F6B !important;
    }
  }
  .take-action {
    background: #555F6B !important;
  }
  input[type="submit"] {
    background: #555F6B !important;  
  }
}

.button-brown {
  .at-credit-card-button-wrapper,.at-eft-button-wrapper {
    .at-btn-radio {
      background: #6A3A10 !important;
    }
  }
  .prevNext {
    .submitStep, .nextStep {
      background: #6A3A10 !important;
    }
  }
  .take-action {
    background: #6A3A10 !important;
  }

  input[type="submit"] {
    background: #6A3A10 !important;  
  }
}
