.ContactInformation,
.RecipientInformation {
  .at-fields {
    .at-row {
      display: flex;
      // margin-bottom: 8px;

      label {
        font-size: 14px;
        // flex: 1 1 auto;
        flex: 1;
      }

      label:not(:last-child) {
        margin-right: 8px !important;
      }

      label.RecipientFirstName:not(:last-child),
      label.RecipientCountry:not(:last-child),
      label.RecipientPostalCode:not(:last-child),
      label.RecipientCity:not(:last-child) {
        margin-right: 0px !important;
      }

      label.error {
        input {
          outline: none !important;
          background: #fffbfc !important;
          border: 1px solid #fcdde9 !important;
        }

        small.error {
          color: #ee2b77;
        }
      }

      input,
      select {
        display: flex;
        border-radius: 0px; // 8px
        padding: 14px 20px;
        border: 1px solid #d6d8dc;
        width: 100%;
        font-size: 16px;
        box-sizing: border-box;
      }

      input {
        background: #f8f9f9;
        height: 48px;
      }

      select {
        height: 48px !important;
      }

      &.PostalCode.City.StateProvince {
        justify-content: flex-start;

        label {
          flex: 1 1 0px !important;
        }
      }
    }
  }
}

.at-recipient-info {
  select {
    display: flex;
    border-radius: 0px; // 8px
    padding: 14px 20px;
    border: 1px solid #d6d8dc;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
  }

  select {
    height: 48px !important;
  }
}

.at .select2-selection--single {
  background-color: #f8f9f9;
  border-radius: 0px;
}

.select2-selection {
  border-radius: 0px;
  border: 1px solid #d6d8dc;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  height: 48px;
}

.at .select2-selection--single {
  height: 48px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 38px;
}
