.ContactInformation {

  .at-fields {
    .at-row {
      display: flex;
      margin-bottom: 8px;

      label {
        font-size: 14px;
        // flex: 1 1 auto;
        flex: 1;
      }

      label:not(:last-child) {
        margin-right: 8px !important;
      }

      label.error {

        input {
          outline: none !important;
          background: #FFFBFC !important;
          border: 1px solid #FCDDE9 !important;
        }

        small.error {
          color: #EE2B77;
        }
      }

      input, select {
        display: flex;
        border-radius: 8px;
        padding: 14px 20px;
        border: 1px solid #D6D8DC;
        width: 100%;
        font-size: 16px;
        box-sizing: border-box;
      }

      input {
        background: #F8F9F9;
        height: 48px;
      }

      select {
        height: 48px !important;
      }

      &.PostalCode.City.StateProvince {
        justify-content: flex-start;

        label {
          flex: 1 1 0px !important;
        }
      }

    }
  }

}