.PaymentInformation {
  label {
    font-size: 14px;
  }

  .vgs-cc-iframe-wrapper iframe,
  .vgs-ccexpiration-iframe-wrapper iframe {
    display: flex;
    border-radius: 0px; // 8px
    // padding: 14px 20px;
    border: 1px solid #d6d8dc;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    background: #ffffff;
  }

  .at-cc-number {
    margin-right: 8px !important;
  }

  .css-kaihww {
    background-color: #f8f9f9 !important;
  }
}
