@font-face {
  font-family: 'caldinalight_italic';
  src: url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-300-light-italic-webfont.woff2') format('woff2'),
       url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-300-light-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caldinalight';
  src: url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-300-light-webfont.woff2') format('woff2'),
       url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-300-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caldinaitalic';
  src: url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-400-regular-italic-webfont.woff2') format('woff2'),
       url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-400-regular-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caldinaregular';
  src: url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-400-regular-webfont.woff2') format('woff2'),
       url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-400-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caldinamedium_italic';
  src: url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-500-medium-italic-webfont.woff2') format('woff2'),
       url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-500-medium-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caldinamedium';
  src: url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-500-medium-webfont.woff2') format('woff2'),
       url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-500-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caldinasemibold_italic';
  src: url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-600-semibold-italic-webfont.woff2') format('woff2'),
       url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-600-semibold-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caldinasemibold';
  src: url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-600-semibold-webfont.woff2') format('woff2'),
       url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-600-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caldinabold_italic';
  src: url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-700-bold-italic-webfont.woff2') format('woff2'),
       url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-700-bold-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caldinabold';
  src: url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-700-bold-webfont.woff2') format('woff2'),
       url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/caldina-700-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alkes';
  src: url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/alkesrgit-webfont.woff2') format('woff2'),
       url('https://nvlupin.blob.core.windows.net/images/van/AV/AVEA/1/16307/images/4Site/fonts/alkesrgit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}