body:not(.showBody){
  .eqfl-container {
    background-color: #E0F4F5 !important;
    opacity: 0 !important;
  }
}

@import "normalize";
@import "fonts";
@import url("https://use.typekit.net/fyc7sqc.css");

html, 
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'caldinaregular', sans-serif;
  font-size: 16px;
}

body.showBody {
  .eqfl-container {
    background-color: #FFFFFF;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;  
  }
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 22px;
}

.at {
  font-family: 'caldinaregular', sans-serif !important;
}

.at-checkbox-title-container {
  padding-left: 0 !important;
}

.at input[type="checkbox"]+span:before, .at input[type="checkbox"]:checked+span:after {
  display: none !important;
}

.at select {
  height: auto !important;
  font-size: 14px !important;
  background-color: #F8F9F9 !important;
  //url("data:image/svg+xml;charset=UTF-8, <svg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'><path opacity='0.7' d='M4.3502 5L8.23508 1.21994C8.5219 0.940858 8.5219 0.488378 8.23507 0.209301C7.94826 -0.0697692 7.48324 -0.0697657 7.19643 0.209309L4.3502 2.97874L1.50397 0.209309C1.21715 -0.0697663 0.752139 -0.0697699 0.46532 0.2093C0.178495 0.488377 0.178491 0.940858 0.465312 1.21994L4.3502 5Z' fill='%23555F6B'/></svg>");
}

header.at-title {
  display: none;
}

.eqfl-container {
  display: flex;
}

.multistep-layout .HeaderHtml p:first-of-type {
  padding-top: 32px;
  @media (min-width: 641px) {
    padding-top: 16px;
  }
}

.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'caldinaregular';
  font-weight: 400;
  line-height: 24px;
  z-index: 50;
  max-width: 640px;
  background-color: #FFFFFF;

  @media (min-width: 641px) {
    background-image: url("data:image/svg+xml;charset=UTF-8, <svg width='5' height='762' viewBox='0 0 5 762' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -257.058 303.476)' fill='white'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -287.804 336.15)' fill='%232DC3E9'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -318.548 368.824)' fill='%236A3A10'/><rect width='44.8646' height='528.317' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -349.293 401.498)' fill='%23402611'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -226.312 270.802)' fill='%23F490B3'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -195.567 238.129)' fill='%23EE2B77'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -164.823 205.455)' fill='%23F99D25'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -134.078 172.782)' fill='%23FFD200'/><path d='M-103.333 140.108L-72.5879 107.434L257.702 458.443L226.957 491.116L-103.333 140.108Z' fill='%2388C540'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -72.5869 107.434)' fill='%2300A3AB'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -41.8428 74.7606)' fill='%230072BC'/><rect width='44.8646' height='517.725' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -35.5967 16.0507)' fill='%23643695'/></svg>");
    background-repeat: repeat-y;
    background-position: right top;
  }
}

.eqfl-content {
  padding: 20px 10px;
  @media (min-width: 382px) {
    padding: 20px;
  }
  @media (min-width: 412px) {
    padding: 21px 35px;
  }
  @media (min-width: 485px) {
    padding: 42px 70px;
  }

  p {
    margin: 16px 4px;
  }
}

.eqfl-footer {
  background-color: #F0F1F2;
  width: 100%;
  max-width: 635px;
  padding: 42px 70px;
  box-sizing: border-box;


  img {
    width: 422px;
  }
}

// Hide the neverbounce feedback field
div[id^=nb-field-] div.nb-feedback div .nb-poweredby {
  display: none !important;
}
// Hide the recaptcha badge
.grecaptcha-badge { visibility: hidden; }

.responsive-hero {
  position: relative;
  display: flex;
  flex-direction: column;

  .separator {
    width: auto;
    height: 3px;
    background-image: url("data:image/svg+xml;charset=UTF-8, <svg width='457' height='3' viewBox='0 0 457 3' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0)'><path d='M162.41 138.787L182.006 157.234L392.519 -40.9392L372.923 -59.3861L162.41 138.787Z' fill='white'/><path d='M182.006 157.234L201.602 175.681L412.115 -22.4917L392.519 -40.9387L182.006 157.234Z' fill='%232DC3E9'/><path d='M201.602 175.681L221.198 194.128L431.711 -4.04542L412.115 -22.4924L201.602 175.681Z' fill='%236A3A10'/><path d='M221.198 194.128L240.793 212.574L471.548 -4.65336L451.952 -23.1003L221.198 194.128Z' fill='%23402611'/><path d='M142.815 120.339L162.41 138.786L372.923 -59.3867L353.328 -77.8336L142.815 120.339Z' fill='%23F490B3'/><path d='M123.219 101.893L142.815 120.339L353.328 -77.8335L333.732 -96.2804L123.219 101.893Z' fill='%23EE2B77'/><path d='M103.623 83.4462L123.219 101.893L333.732 -96.2798L314.137 -114.727L103.623 83.4462Z' fill='%23F99D25'/><path d='M84.0282 64.9994L103.624 83.4463L314.137 -114.727L294.541 -133.174L84.0282 64.9994Z' fill='%23FFD200'/><path d='M84.028 64.9994L64.4322 46.5525L274.945 -151.62L294.541 -133.173L84.028 64.9994Z' fill='%2388C540'/><path d='M44.8366 28.105L64.4322 46.5519L274.945 -151.621L255.35 -170.068L44.8366 28.105Z' fill='%2300A3AB'/><path d='M25.2411 9.65864L44.8367 28.1056L255.35 -170.067L235.754 -188.514L25.2411 9.65864Z' fill='%230072BC'/><path d='M-9.96941 5.91096L9.62622 24.3579L235.754 -188.515L216.159 -206.962L-9.96941 5.91096Z' fill='%23643695'/></g><defs><clipPath id='clip0'><rect width='2.99998' height='457' fill='white' transform='translate(0 3.00006) rotate(-90)'/></clipPath></defs></svg>");
    background-repeat: repeat-x;
    background-position: left bottom;
  }

  @media (min-width: 641px) {
    display: none;
  }
}

.bg-image {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  width: calc(100vw - 630px);
  @media (max-width: 640px) {
    display: none;
  }
}

.photoCredit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  font-family: 'caldinabold', sans-serif;
  background: rgba(0, 38, 52, 0.24);
  color: #FFFFFF;
  padding: 8px 42px;
}

.logo {
  width: 175px;
  margin: 0 4px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "kiro", sans-serif !important;
}

h1 {
  font-size: 54px;
  line-height: 54px;
  font-family: "kiro", sans-serif;
  margin: 36px 4px;
}

.accordions {
  margin: 0 4px;
  box-sizing: border-box;

  .accordion {
    position: relative;
    background: #FFFFFF;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: 0;
    outline: none;
    transition: background-color 0.2s ease-in-out;
  
    background-image: linear-gradient(to right, #000000 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
  
    &::after {
      position: absolute;
      right: 20px;
      content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='10' height='6' fill='none' viewBox='0 0 10 6'><path fill='%23002634' d='M5.2 6l4.548-4.536c.336-.335.336-.878 0-1.213-.336-.335-.88-.335-1.216 0L5.2 3.574 1.868.251c-.336-.335-.88-.335-1.216 0-.336.335-.336.878 0 1.213L5.2 6z'/></svg>");
    }
  }
  
  // .accordion:hover {
  //   background-color: #E0F4F5;
  //   transition: background-color 0.2s ease-in-out;
  // }
  
  .active {
    &::after {
      position: absolute;
      right: 20px;
      content: url("data:image/svg+xml;charset=UTF-8, <svg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.1999 -8.39259e-07L0.651743 4.53607C0.315953 4.87097 0.315958 5.41395 0.651753 5.74884C0.987541 6.08372 1.53195 6.08372 1.86773 5.74883L5.1999 2.42551L8.53208 5.74883C8.86786 6.08372 9.41227 6.08372 9.74805 5.74884C10.0839 5.41395 10.0839 4.87097 9.74806 4.53607L5.1999 -8.39259e-07Z' fill='%23002634'/></svg>");
    }
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

}

.take-action {
  position: fixed;
  bottom: 24px;
  left: 24px;
  right: 24px;
  width: auto;
  height: auto;
  padding: 24px;
  background: #ee2b77;
  z-index: 52;
  border-radius: 8px;
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
  font-family:"kiro", sans-serif;
  font-weight: 700;
  cursor: pointer;

  &::after {
    position: absolute;
    right: 24px;
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M2.33439 8.93812L2.3344 8.93813L7.08801 13.2918L7.08801 1.34746C7.08801 1.09859 7.30578 0.91 7.55739 0.91L8.44261 0.91C8.69421 0.91 8.91198 1.09859 8.91198 1.34746L8.91198 13.2918L13.6656 8.93813C13.8482 8.77094 14.1412 8.77095 14.3237 8.93812L14.3237 8.93813L14.9497 9.5114C15.1368 9.68276 15.1368 9.96415 14.9497 10.1355L14.9497 10.1355L8.32907 16.1991C8.14651 16.3663 7.85354 16.3663 7.67096 16.1991L7.67096 16.1991L1.05035 10.1355C0.863217 9.96416 0.863214 9.68276 1.05035 9.5114C1.05035 9.5114 1.05035 9.5114 1.05036 9.5114L1.67629 8.93813C1.85884 8.77094 2.15182 8.77095 2.33439 8.93812Z' fill='white' stroke='white' stroke-width='0.18'/></svg>");
  }

  @media (min-width: 641px) {
    display: none;
  }
}

.premium {
  border-radius: 8px;
  display: flex;
  // padding: 20px;
  margin: 16px 4px 24px 4px;
  overflow: hidden;

  &.color-yellow {
    background-color: #F2E59F;
  }
  &.color-teal {
    background-color: #00A3AB;
    h2, p {
      color: #ffffff;
    }
  }
  &.color-pink {
    background-color: #EE2B77;
    h2, p {
      color: #ffffff;
    }
  }
  &.color-black {
    background-color: #002634;
    h2, p {
      color: #ffffff;
    }
  }
  &.color-blue {
    background-color: #0072BC;
    h2, p {
      color: #ffffff;
    }
  }
  &.color-purple {
    background-color: #643695;
    h2, p {
      color: #ffffff;
    }
  }
  &.color-ltgray {
    background-color: #8D939E;
    h2, p {
      color: #ffffff;
    }
  }
  &.color-dkgray {
    background-color: #555F6B;
    h2, p {
      color: #ffffff;
    }
  }
  &.color-brown {
    background-color: #6A3A10;
    h2, p {
      color: #ffffff;
    }
  }

  .premium-image {
    flex: 1 1 50%;
  }
  .premium-content {
    padding: 45px 22px 45px 14px;
    flex: 1 1 50%;
  }

  h2 {
    margin: 0 0 18px 0;
  }

  p {
    margin: 0 !important;
  }

  img {
    width: 230px;
  }

  @media (max-width: 641px) {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

}

.at-form-submit {
  padding: 0 !important;
}

.at-row>[class^="at-"] {
  margin: 0 !important;
  min-width: 0 !important;
}

.at-credit-card-button-wrapper, .at-eft-button-wrapper {
   .at-btn-radio {
    background: #EE2B77 !important;
    padding: 16px 74px !important;
    border-radius: 8px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    font-size: 24px !important;
    font-family: "kiro", sans-serif !important;
    font-weight: 700 !important;
    cursor: pointer !important;
    border: 0 !important;
  }
}

.step-prevNext {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;

  .submitStep {
    position: relative !important;
  }
}

.prevStep {
  font-size: 20px !important;
  font-family: "kiro", sans-serif !important;
  font-weight: normal !important;
  color: #8D939E !important;
}



.at .btn-at-primary {
  background: #EE2B77 !important;
  padding: 16px 74px !important;
  border-radius: 8px !important;
  text-align: center !important;
  color: #FFFFFF !important;
  font-size: 24px !important;
  font-family: "kiro", sans-serif !important;
  font-weight: 700 !important;
  cursor: pointer !important;

  &::after {
    position: absolute;
    right: 24px;
    content: url("data:image/svg+xml;charset=UTF-8, <svg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M8.81898 13.6656L8.81899 13.6656L13.1726 8.91199L1.22832 8.91199C0.979446 8.91199 0.79086 8.69422 0.79086 8.44261L0.790861 7.55739C0.790861 7.30579 0.979447 7.08802 1.22832 7.08802L13.1726 7.08802L8.81899 2.33438C8.6518 2.15183 8.65181 1.85885 8.81898 1.67628L8.81899 1.67627L9.39226 1.05033C9.56363 0.863222 9.84501 0.863232 10.0164 1.05032L10.0164 1.05033L16.0799 7.67094C16.2471 7.85349 16.2471 8.14646 16.0799 8.32904L16.0799 8.32905L10.0164 14.9496C9.84502 15.1368 9.56362 15.1368 9.39226 14.9497C9.39226 14.9497 9.39226 14.9496 9.39226 14.9496L8.81899 14.3237C8.6518 14.1412 8.65181 13.8482 8.81898 13.6656Z' fill='white' stroke='white' stroke-width='0.18'/></svg>");
  }
}

input:not(.edit-otheramount):focus-visible {
  outline: none !important;
  background: #FFFFFF !important;
  border: 1px solid #80D1D5 !important;
}

fieldset {
  padding: 0;
  margin: 0 4px 0 4px !important;
  border: 0;
}

.at .at-fieldset {
  padding: 0 !important;
  min-width: 0 !important;
}

.form-item-inhonororinmemoryof {
  display: flex;
  flex-direction: column;

  label {
    display: none !important;
  }
}

// .at input[type="text"], .at input[type="password"], .at input[type="date"], .at input[type="datetime"], .at input[type="datetime-local"], .at input[type="month"], .at input[type="week"], .at input[type="email"], .at input[type="number"], .at input[type="search"], .at input[type="tel"], .at input[type="time"], .at input[type="url"], .at input[type="color"], .at textarea {
//   background-color: #F8F9F9 !important;
// }

.at-text {
  input {
    background-color: #F8F9F9 !important;
  }
}

.multistep-layout .HeaderHtml {
  padding: 0 !important;
}

// Fieldset .ContributionInformation
@import "_contributionInformation";

// Fieldset .TributeGift
@import "_tributeGift";

// Fieldset RecipientInformation
@import "_recipientInformation";

// PaymentMethodSection
@import "_paymentMethodSection";

// Contact information
@import "_contactInformation";

// Payment Information
@import "_paymentInformation";

// Buttons Colors
@import "_buttonsColors";
